# node_modules
node_modules/
package-lock.json

# git
.git/
.gitignore

#vscode
.vscode/

# pre-commit
.pre-commit-config.yaml

#prettier config
.prettierrc

#tests
tests/

# TODO: include documentation again
documentation/
